FrameStatsUnityProject
StellarDrive_0.6.5/MonoBleedingEdge
StellarDrive_0.6.5/StellarDrive_BurstDebugInformation_DoNotShip
StellarDrive_0.6.5/StellarDrive_Data
StellarDrive_0.6.5/EOSBootstrapper.exe
StellarDrive_0.6.5/EOSBootstrapper.ini
StellarDrive_0.6.5/logs.txt
StellarDrive_0.6.5/StellarDrive.exe
StellarDrive_0.6.5/UnityCrashHandler64.exe
StellarDrive_0.6.5/UnityPlayer.dll
log.txt
**/bin
**/obj
.*